.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  padding: 2rem;

  width: 256px;
  height: 256px;

  background: rgba($white, 0.1);

  cursor: pointer;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  @include element(title) {
    font-size: 1.5rem;
    font-weight: 500;
    color: $font-color;
  }
}