:root {
    --background: #171717;
    --background-rbg: 23, 23, 23;

    --foreground: #fffce1;
    --foreground-rgb: 255, 252, 225;

    --white: #fff;
    --pink: #ff0088;
    --pink-rgb: 255, 0, 136;

    --purple: #9911ff;
    --purple-rgb: 153, 17, 255;

    --blue: #21befd;
    --blue-rgb: 33, 190, 253;

    --font-montserrat: 'Montserrat', sans-serif;
    --border-radius-sm: 4px;
    --border-radius-md: 8px;
    --border-radius-lg: 16px;
}
